<!DOCTYPE html>
<html>
<head>
  <title>Visit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='header'>
    <h1>Visit The Museum</h1>
    <h2>Interactive Museum Technology</h2>
  </div>
  
  <div id='nav'>
    
  </div>
  
  <div class='search'>
    <form method='get' action='#'>
      <input type='text' name='search' placeholder='Search'>
      <input type='submit' name='submit' value='Go'> <!-- will eventually put picture of magnifying glass -->
    </form>
  </div>
  
<%= yield %>

</body>
</html>
